
* { margin:0; padding:0;}

ul, li { list-style:none;}
a { text-decoration:none;}
.nav1 {overflow:hidden;;margin:0px 0 0 0px;}
.nav1 ul li { float:left;}
.nav1 ul li a { width:120px; height:40px; text-align:center; line-height:40px; display:block; border-right:2px solid #ccc; background:#eee; color:#666;}
.nav1 ul li a:hover{ color:#f00; }
.nav1 ul li ul { position:absolute; display:none;}
.nav1 ul li ul li { float:none;}
.nav1 ul li ul li a { border-right:none; border-top:1px dotted #ccc; background:#f5f5f5;}
.nav1 ul li:hover ul{ display:block; }